$black: #0A0A0A; // background color
$blacklight: #1D1D1D; // background color sidebar and header
$gray: #161616; // background btn color
$graylight: #343434; // background btn color
$white: #FFFFFF; // text color and background color